/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html { background-color: rgb(130, 141, 206); }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
